<h1>Chassis Index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chassis.each do |chas| %>
      <tr>
        <td><%= chas.make %></td>
        <td><%= chas.model %></td>
        <td><%= chas.year %></td>
        <td>
          <%= link_to "Show", chas %>
          <%= link_to "Edit", edit_chassis_url(chas) %>
  
          <%= link_to "delete", chas, data: { "turbo-method": :delete,
                                               turbo_confirm: "You sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Chassis", new_chassis_path %>