<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="my-0">Chassis'</h1>
    <span class="badge badge-primary">Chassis's Man - this is just a piece of test text</span>
  </div>
  <div class="row">
    <% @chassis.each do |chas| %>
      <% if chas.user == current_user %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= chas.make %> <%= chas.model %></h5>
              <%= content_tag(:p, display_status(chas.stolen), class: "card-text stolen") %>
              <ul class="list-unstyled">
                <li>Chassis Number: <%= chas.number %></li>
                <li>Year: <%= chas.year %></li>
                <li>Owner: <%= chas.user.name %></li>
              </ul>
              <div class="d-flex justify-content-end">
                <%= link_to "View", chassis_path(chas), class: "btn btn-success btn-sm mr-2" %>
                <%= link_to "Edit", edit_chassis_path(chas), class: "btn btn-primary btn-sm mr-2" %>
                <%= link_to "Delete", chassis_path(chas), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "New Chassis", new_chassis_path, class: "btn btn-success" %>
