<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @entry.sessiontype %> - <%= @entry.track.name %></h1>
      <p><%= @entry.date.strftime("%B %d, %Y") %> at <%= @entry.time.strftime("%I:%M %p") %></p>
      <p>Weather Conditions: <%= @entry.condition %></p>
      
    </div>
    <div class="col-md-6">
      
      <img src="https://via.placeholder.com/300" alt="entry image">
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <h3>Main Setup Changes</h3>
      <p><%= @entry.mainchanges %></p>
    </div>
    <div class="col-md-6">
      <h3>Session Notes</h3>
      <p><%= @entry.sessionnotes %></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>End of Session Updates</h3>
      <p>Post Weight: <%= @entry.endweight %> Kg</p>
      <p>Engine Hrs: <%= @entry.enginehour %> Hrs</p>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <h3>Tyres</h3>
      <p>Pre PSI: <%= @entry.prepressure %> PSI</p>
      <p>Rim: <%= @entry.rimset %></p>
      <p>Tyre Type: <%= @entry.tyre %></p>
      <p>Tyre Set: <%= @entry.tyreset %></p>
      <p>Tyre Age: <%= @entry.tyreage %> Laps</p>
    </div>
    <div class="col-md-6">
      <h3>Engine & Carb Setup</h3>
      <p>Carb Clip: <%= @entry.needleclip %></p>
      <p>Main Jet: <%= @entry.jet %></p>
      <p>Spark Plug: <%= @entry.plug %></p>
      <p>Idle: <%= @entry.idle %> Turns</p>
      <p>Air Mix: <%= @entry.airmix %> Turns</p>
      <p>Fuel Mix: <%= @entry.fuelmix %> Ratio</p>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <h3>Chassis Setup</h3>
      <p>Chassis: <%= @entry.chassis.number %></p>
      <p>Front Width: <%= @entry.frontwidth %></p>
      <p>Rear Width: <%= @entry.rearwidth %> mm</p>
      <p>Gearing: <%= @entry.gearing %></p>
      <p>Axle: <%= @entry.axle %></p>
      <p>Caster: <%= @entry.caster %></p>
      <p>Toe: <%= @entry.toe %></p>
      <p>Front Camber: <%= @entry.camber %></p>
      <p>Front Ride Height: <%= @entry.frontride %></p>
      <p>Rear Ride Height: <%= @entry.rearride %></p>
    </div> 
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="mx-auto">
      <%= link_to 'Update', edit_entry_path(@entry), class: "btn btn-info btn-lg btn-block mb-2" %>
      <%= link_to 'Back', entries_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>


</div>

